parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/cli/BobCommand.php
    scanFiles:
        - vendor/pestphp/pest/src/Functions.php
        - vendor/pestphp/pest/src/Pest.php
    ignoreErrors:
        - '#Function array_flatten not found#'
        - '#Function collect not found#'
        - '#Class Bob\\Query\\Collection not found#'
        - '#Call to an undefined method#'
        - '#Property .* has no type specified#'
        - '#Method .* has parameter .* with no type specified#'
        - '#Method .* return type has no value type specified#'
    treatPhpDocTypesAsCertain: false